body {
	min-height: 75rem;
	padding-top: 0.0px;
	position: relative;
    background-color: #eceeef; }
  
.background-rom-and-moon {
	background-image: url(../assets/images/rom-and-moon.png);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	min-height: 550px; 
}

.rom-crane {
    width: 100%;
    height: auto;
    max-height: 350;
    opacity: 1; 
}

.rom-crane-mirror {
    width: 100%;
    height: auto;
    max-height: 600;
    opacity: 1; 
}

.base-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  /* Helper Function */
  $base-parallax-perspective: 6px;
  
  @function parallax-scale-factor($z-distance) {
	@return ($base-parallax-perspective - $z-distance) / $base-parallax-perspective;
  }
  
  /* Parallax Styles */
  .parallax-container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	perspective: $base-parallax-perspective;
	perspective-origin: 0%;
	-webkit-overflow-scrolling: touch;
  }

  .image {
	position: absolute;
	transform-origin: 0 50%;
	height: 100vh;
  }
  
  .background_banner_image {
	@extend .image;
	transform: translateZ(0px) scale(1);
	opacity: .8;
	width: 100%;
	height: auto;
  }
  .middle_banner_image {
	@extend .image;
	top: 20%;
	transform: translateZ(5px) scale(parallax-scale-factor(5));
  }
  .foreground_banner_image {
	@extend .image;
	top: 30%;
	transform: translateZ(2px) scale(parallax-scale-factor(2));
  }
