/*////////////////////////////////////////////////////////////////////
////////// fixed and styled Royal Ontario Museum layers //////////////
////////////////////////////////////////////////////////////////////*/

.background-rom-and-moon {
	background-image: url(../assets/images/rom-and-moon.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	position: fixed; 
	height: 100%;
    width: 100%;
}

.background-rom-cutout {
	background-image: url(../assets/images/rom-cutout-downside.png);
	position: fixed; z-index: 30; //first//
	background-color: transparent;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%; 
	width: 100%; 
}

.rom-cutout-upside {
	position: absolute; z-index: 50; //second//
	height:100%; 
	opacity:.85;
	width:100%;
}

/*////////////////////////////////////////////////////////////////////
////////// info panels styled and z-indexed across ROM ///////////////
////////////////////////////////////////////////////////////////////*/

.a {
	position: relative; z-index: 110;//fifth//
	justify-content: center;
	align-items: center;
	color: white;
	display: flex;
	height: 75vh;
}

.b {
	position: relative; 
}

.c {
	position: relative; z-index: 90;//fourth//
}

.d {
	position: relative; 
}

.e {
	position: relative; z-index: 160;//seventh//
}

/*////////////////////////////////////////////////////////////////////
////////// cranes positioned and z-indexed ///////////////////////////
////////////////////////////////////////////////////////////////////*/

.rom-crane {
	position: absolute; z-index: 120; //third//
	width: 80%;
}

.rom-crane-mirror {
	position: absolute; z-index: 120; //sixth//
	width: 80%;
	right: 0px;
}

